# This file contains common pin mappings for the 2017 Monoprice
# Mini Delta. To use this config, the firmware should be compiled for the
# STM32F070 microcontroller with an 8MHz crystal and USB for communication.
#
# IMPORTANT: Use of Kipper with a Monoprice Mini Delta requires a power supply
# with a _minimum_ 120 W (i.e. 10 A) capacity! The stock power supply will not
# work, as it can't power the hotend and the bed at the same time.
#
# Note 1: Some controller boards only trigger the bootloader when an update file
# is "printed" from the LCD, rather than supporting bootloader triggering
# during bootup. It may be preferable to use an ST-Link V2 to flash the
# firmware instead. Follow this link for an example of the commands needed to
# do this: https://github.com/arkorobotics/MiniDeltaBootloader
#
# Note 2: Klipper does not currently support the LCD interface used on this
# printer.
#
# See docs/Config_Reference.md for a description of parameters.


# Stepper A is the front-left tower, as originally wired. If you've rewired
# your steppers to "correct" this, you'll need to swap these values.
[stepper_a]
homing_speed: 50
step_pin: PB12
dir_pin: !PB11
enable_pin: !PB10
microsteps: 16
rotation_distance: 28
endstop_pin: ^PC14
#position_endstop: 125.00
#arm_length: 120.8
# Some users report better success using the following value for arm_length:
#arm_length: 121.36

[stepper_b]
step_pin: PB2
dir_pin: !PB1
enable_pin: !PB10
microsteps: 16
rotation_distance: 28
endstop_pin: ^PC15

[stepper_c]
step_pin: PB14
dir_pin: !PB13
enable_pin: !PB10
microsteps: 16
rotation_distance: 28
endstop_pin: ^PC13

[extruder]
step_pin: PA7
dir_pin: PA6
enable_pin: !PB0
microsteps: 16
#rotation_distance: 65.984
rotation_distance: 33
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
# calibrated at 240C on stock hardware
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 300

[verify_heater extruder]
max_error: 240
check_gain_time: 40

[heater_bed]
heater_pin: PA5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA4
# calibrated at 70C on stock hardware
#control: pid
#pid_kp: 51.249
#pid_ki: 4.437
#pid_kd: 147.983
min_temp: 0
max_temp: 130

# Print cooling fan (omit section if fan not present)
#[fan]
#pin: PA8
[heater_fan my_nozzle_fan]
pin: PA8
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[mcu]
#serial: /dev/ttyACM0
serial: /dev/serial/by-id/usb-Klipper_stm32f070xb_41004A001651534839343220-if00
restart_method: command

[printer]
kinematics: delta
#max_velocity: 150
max_velocity: 300
#max_accel: 1200
max_accel: 3000
#max_z_velocity: 100
max_z_velocity: 150
# minimum_z_position is negative to allow delta calibration to work
minimum_z_position: -10.0
#delta_radius: 63.00
# Some users report better success using the following value for arm_length:
#delta_radius: 62.70

[delta_calibrate]
radius: 50
speed: 50
horizontal_move_z: 5

######################################################################
# Bed leveling support
######################################################################

[bed_mesh]
speed: 50
horizontal_move_z: 5
mesh_radius: 50
round_probe_count: 5
fade_start: 1.0
fade_end: 0.0

######################################################################
# Bed probing hardware
######################################################################

[probe]
pin: ^!PB7
x_offset: 0.0
y_offset: 0.0
z_offset: -0.1
speed: 5.0
samples: 1
sample_retract_dist: 2.0
samples_result: average
samples_tolerance: 0.100
samples_tolerance_retries: 0

[gcode_arcs]
resolution: 0.5

######################################################################
# G-Code macros and events
######################################################################

# G-Code macros (one may define any number of sections with a
# "gcode_macro" prefix).
[gcode_macro START_PRINT]
gcode:
    {% set bed_temp = params.BED_TEMP|default(80)|float %}
    {% set extruder_temp = params.EXTRUDER_TEMP|default(225)|float %}
    G90 ; switch to absolute positioning - this line was added in case Cura doesn't include it by default
    M82 ; set extruder to absolute mode - this line was added in case Cura doesn't include it by default
    G28 ; start from home position
    
    ;M104 S170 T0 ; set extruder to a no-ooze temperature
    M104 S{extruder_temp} T0
    M140 S{bed_temp}
    M190 S{bed_temp}
    
    SET_GCODE_OFFSET Z=-0.160
    ;BED_MESH_CALIBRATE

    ; probe/adjust z-offset and pause 4s    
    ;G29 P0
    ;G0 X0 Y0 Z60 F3600
    
    M109 S{extruder_temp} T0
    ; extrude a strip outside of the perimeter
    G92 E0 ; reset extrusion distance
    G1 X-54 Y0 Z0.32 F2700
    G3 X0 Y-54 I54 E20 F900
    G92 E0 ; reset extrusion distance

    

[gcode_macro END_PRINT]
gcode:
    M104 S0 ; turn off hotend heater
    M140 S0 ; turn off bed heater
    G91 ; Switch to use Relative Coordinates
    G1 E-3 F700 ; retract the filament a bit before lifting the nozzle to release some of the pressure
    G1 Z2 F1000 ; raise platform 2mm from current position
    G1 E-2 F700 ; retract filament even more
    G90 ; Switch back to using absolute coordinates
    G28 X Y Z ; Return to home position. Without an X Y or Z after G28 the print completion time will not be displayed on the Mini Delta's display.
    M84 ; disable motors
    M107 ; turn off fan. Don't use M106 S1. Using M106 S1 may prevent the fan from turning on for the following print. Some say M107 doesn't work for them but if the hotend is below 70 degrees it should work

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [printer]
#*# delta_radius = 63.733516
#*#
#*# [stepper_a]
#*# angle = 210.142188
#*# arm_length = 123.462409
#*# position_endstop = 125.291777
#*#
#*# [stepper_b]
#*# angle = 330.407710
#*# arm_length = 121.758561
#*# position_endstop = 124.633771
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 121.185436
#*# position_endstop = 126.143018
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.237490, -0.237490, -0.237490, -0.237490, -0.237490
#*# 	0.014158, 0.014158, 0.032013, 0.020090, 0.020090
#*# 	-0.070986, 0.116540, 0.179514, 0.085596, -0.045027
#*# 	0.150924, 0.150924, 0.221603, 0.001113, 0.001113
#*# 	0.077955, 0.077955, 0.077955, 0.077955, 0.077955
#*# tension = 0.2
#*# min_x = -50.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = -50.0
#*# x_count = 5
#*# max_y = 50.0
#*# mesh_x_pps = 2
#*# max_x = 50.0
#*#
#*# [delta_calibrate]
#*# height0 = -0.1
#*# height0_pos = 14348.000,14219.000,14394.000
#*# height1 = -0.1
#*# height1_pos = 17693.000,17625.000,12474.000
#*# height2 = -0.1
#*# height2_pos = 13890.000,19737.000,13951.000
#*# height3 = -0.1
#*# height3_pos = 12534.000,16997.000,17240.000
#*# height4 = -0.1
#*# height4_pos = 13848.000,13687.000,18138.000
#*# height5 = -0.1
#*# height5_pos = 16672.000,12513.000,16726.000
#*# height6 = -0.1
#*# height6_pos = 18893.000,13766.000,13916.000
#*# distance0 = 48.6
#*# distance0_pos1 = 14119.791,14345.256,14522.468
#*# distance0_pos2 = 12372.834,18140.847,18416.211
#*# distance1 = 48.76
#*# distance1_pos1 = 14236.957,14110.451,14642.942
#*# distance1_pos2 = 14048.328,13877.269,22034.577
#*# distance2 = 48.88
#*# distance2_pos1 = 14471.780,13996.404,14522.468
#*# distance2_pos2 = 18336.289,12249.182,18416.211
#*# distance3 = 49.15
#*# distance3_pos1 = 14589.448,14113.792,14285.175
#*# distance3_pos2 = 21766.128,13927.987,14073.495
#*# distance4 = 48.77
#*# distance4_pos1 = 14468.782,14348.664,14168.283
#*# distance4_pos2 = 18267.720,18218.793,12405.688
#*# distance5 = 48.63
#*# distance5_pos1 = 14234.017,14466.150,14285.175
#*# distance5_pos2 = 14003.700,21646.560,14073.495
#*# distance6 = 48.41
#*# distance6_pos1 = 12444.409,17264.371,18012.480
#*# distance6_pos2 = 14190.199,13678.891,21477.695
#*# distance7 = 49.08
#*# distance7_pos1 = 14126.861,13620.518,20525.625
#*# distance7_pos2 = 18375.088,12274.026,17933.479
#*# distance8 = 48.67
#*# distance8_pos1 = 17935.780,12320.939,17514.762
#*# distance8_pos2 = 21243.570,14069.919,13871.151
#*# distance9 = 48.79
#*# distance9_pos1 = 20340.808,14006.353,13810.495
#*# distance9_pos2 = 17797.676,18257.326,12429.265
#*# distance10 = 48.04
#*# distance10_pos1 = 17390.852,17817.312,12476.540
#*# distance10_pos2 = 13805.117,21122.888,14216.550
#*# distance11 = 48.7
#*# distance11_pos1 = 13746.549,20219.368,14154.154
#*# distance11_pos2 = 12397.502,17670.872,18458.074
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 52.684
#*# pid_ki = 3.818
#*# pid_kd = 181.760
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.851
#*# pid_ki = 0.807
#*# pid_kd = 176.198
